<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>{{ .Subject}}</title>
</head>
<body>

<table role="presentation"  class="body">
  <tr>
    <td>&nbsp;</td>
    <td class="container">
      <div class="content">
        <table role="presentation" class="main">
          <tr>
            <td class="wrapper">
              <table>
                <tr>
                  <td>
                    <p>Hi {{ .FirstName}},</p>
                    <p>Please verify your account to be able to login</p>
                    <table>
                      <tbody>
                      <tr>
                        <td>
                          <p> {{.URL}} </p>>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </div>
    </td>
    <td>&nbsp;</td>
  </tr>
</table>
</body>
</html>
