<!-- change password -->
<form [formGroup]="form" (ngSubmit)="change()">
    <div class="col-xxl-6">
        <div class="bg-secondary-soft px-4 py-5 rounded">
            <div class="row g-3">
                <h4 class="my-4">Change Password</h4>
                <!-- Old password -->
                <div class="col-md-6">
                    <label for="oldPassword" class="form-label">Old password </label>
                    <input [formControlName]="'oldPassword'" type="password" class="form-control" id="oldPassword" required autofocus>
                    <span *ngIf="!form.get('oldPassword')?.valid && form.get('oldPassword')?.touched">
                        Old password field cannot be empty!
                    </span> 
                </div>
                <!-- New password -->
                <div class="col-md-6">
                    <label for="newPassword" class="form-label">New password </label>
                    <input [formControlName]="'newPassword'" type="password" class="form-control" id="newPassword" required autofocus minlength="3" maxlength="32">
                    <span *ngIf="!form.get('newPassword')?.valid && form.get('newPassword')?.touched">
                        New password field cannot be empty!
                    </span> 
                </div>
            </div>
        </div>
        <button type="submit" [disabled]="form.invalid"  class="btn btn-primary btn-sm">Change</button>

    </div>
</form>
