
    <div class="sidebar-container">
        <div>
            <div>
                <img src="assets/svg/twitter.svg" class="logo">
            </div>
            <div class="sidebar-item active" [ngClass]="{'active': getUrl() === '/home'}">
                <img src="assets/svg/home.svg" class="sidebar-item-icon ">
                <div [routerLink]="'/home'" class="icon-label">Home</div>
            </div>
            
  
            <div [routerLink]="'/profile/tweets'" class="sidebar-item" 
            [ngClass]="{'active': getUrl() === '/profile/tweets' || getUrl() === '/profile/replies' || getUrl() === '/profile/likes'}">
                <img src="assets/svg/profile.svg" class="sidebar-item-icon">
                <div class="icon-label">Profile</div>
            </div>
            
            
        </div>
        
    </div>
