<!DOCTYPE html>
<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    </head>
    <body class="container">
        <form [formGroup]="form" (ngSubmit)="signUpBusiness()">
            <label>Name of the company</label>
            <div>
                <span *ngIf="!form.get('companyName')?.valid && form.get('companyName')?.touched" style="color:red ;">Please enter your first name</span>
                <input [formControlName]="'companyName'" type="text">
            </div>

            <label>Email</label>
            <div>
                <span *ngIf="!form.get('email')?.valid && form.get('email')?.touched" style="color:red ;">Please enter a valid email</span>
                <input  [formControlName]="'email'" type="email" required autofocus>
            </div>

            <label>Name of the web site</label>
            <div>
                <span *ngIf="!form.get('webSite')?.valid && form.get('webSite')?.touched" style="color:red ;">Please enter a valid email</span>
                <input  [formControlName]="'webSite'" type="webSite" required autofocus>
            </div>
            
            <label>Username</label>
            <div>
                <span *ngIf="username.errors?.['required'] && form.get('username')?.touched" style="color:red ;">Please enter a username</span>
                <span *ngIf="username.errors?.['usernameExists']" style="color:red ;">This username has been taken</span>
                <input  [formControlName]="'username'" type="text">
            </div> 
             
            <label>Password</label>
            <div>
                <span *ngIf="!form.get('password')?.valid && form.get('password')?.touched" style="color:red ;">Password cannot be empty</span>
                <input  [formControlName]="'password'" type="password">
            </div>
            
            <div [hidden]="captcha">
                
                <re-captcha (resolved)="resolved($event)" siteKey="6LepB04jAAAAALhsR6ufvQAEkMXXupINYW_Bz5wW"></re-captcha>
            </div>

            <div [hidden]="!captcha">
                <input  type="submit" value="Sign up">
            </div>
            
           
        </form>
    </body>
</html>
